/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";
* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --default-text-color: rgba(189, 190, 191, 1);
    --default-box-shadow: 0px 0px 20px rgba(189, 190, 191, .5);
    --main-color-1: #5ceea7;
    --main-color-2: #51aaf7;
    --neutral-color-1: #264F73;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eff4f5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #264F73;
    border-radius: 3px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #264F73; 
  }